._main-font {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: #dddddd;
  color: #333333;
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: #0063b1;
}
.center {
  text-align: center;
}
.browser .bar {
  height: 42px;
  background-color: #0063b1;
  background-color: -webkit-win-accentcolor;
  color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.browser .bar > * {
  margin-right: 7px;
}
.browser .bar > *:last-child {
  margin-right: 0;
}
.browser .bar .url {
  flex-grow: 100;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  width: 100%;
  border-radius: 999px;
  font-size: 14px;
  background: #dddddd;
  color: #999999;
  border: none;
  outline: none;
  padding: 5px 15px;
}
.browser .bar .url:focus {
  color: #333333;
}
.browser .bar .button {
  flex-grow: 1;
  outline: none;
  border: none;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  border-radius: 999px;
  background-color: #0063b1;
  color: #dddddd;
  font-size: 14px;
  height: 28px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.browser .bar .button:hover {
  background: #dddddd;
  color: #0063b1;
}
.browser .bar .button.refresh i {
  position: relative;
  left: 0px;
}
.browser .bar .button.forward i {
  position: relative;
  left: 0px;
}
.browser .bar .button.back i {
  position: relative;
  left: 0px;
}
.browser .page {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 42px;
  z-index: -1000;
}
